<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <remap from="/gazebo_puzzlebot/cmd_vel" to="/cmd_vel"/>
    <include file="$(find puzzlebot_sim)/launch/obstacle_world.launch" />
    <include file="$(find puzzlebot_sim)/launch/bots.launch" />
    <node name="puzzlebot_kinematic" pkg="puzzlebot_sim" type="kinematic_model.py"/>
    <node name = "rviz" pkg="rviz" type = "rviz" args = "-d $(find puzzlebot_sim)/puzzlebot_rviz/lidar_rviz_scan.rviz" required = "true"/>
    <node name="odometry" pkg="puzzlebot_sim" type="odom.py"/>
</launch>